@import "./config";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;

  body {
    font-family: $font-main;
    font-size: 1.8rem;
    height: 100%;
    line-height: 1.4;
    min-height: 100vh;
    overflow-x: hidden;

    .github-link {
      bottom: 3px;
      color: $color-gray;
      left: 50%;
      position: absolute;
      text-decoration: none;
      transform: translateX(-50%);

      &:hover,
      &:focus {
          text-decoration: underline;
      }
  }
  }
}